<a href="https://colab.research.google.com/github/chandanapatil/Application-of-Python-Programming-in-DA-and-ML/blob/master/Day1_session2_Exercises_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to print the triangle

In [1]:
n=int(input('Enter the value of n '))
num=1
for i in range(1,n+1):
  num=i
  for j in range(i):
    print(num,end=" ")
    num=num+1
  print()

Enter the value of n 4
1
2 3
3 4 5
4 5 6 7

In [6]:
def pyramid(n):
  num =0
  for i in range(0,n+1):
    for j in range(0,i):
      print("*",end=" ")
    print("\r")
n = int(input("Enter the number"))
pyramid(n)

Enter the number4

*
* *
* * *
* * * *

In [2]:
n=int(input('Enter the value of n: '))
for i in range(n+1,0,-1):
  num=i
  for j in range(i,n+1):
    print(num,end=" ")
    num+=1
  print()

Enter the value of n: 5

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [5]:
n=int(input('Enter the value of n '))
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

Enter the value of n 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [4]:
n=int(input('Enter the value of n '))
for i in range(1,n+1):
  for j in range(i,n+1):
    print(j,end=" ")
  print()
for i in range(n-1,0,-1):
  for j in range(i,n+1):
    print(j,end=" ")
  print()

Enter the value of n 4
1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4

Find the length of a string without using len functions

In [7]:
def length(s):
  c = 0
  for i in s:
    c=c+1
  return c
s =str(input("Enter the string : "))
print("The length of string is : ",length(s))

Enter the string : college
The length of string is :  7

Find the no of words and characters in a string

In [8]:
def cou(s):
  c=0
  a = s.split()
  v = len(a)
  for i in a:
    c = c+len(i)
  print("word count : ",v)
  print("character count : ",c)
s = str(input("Enter the string : "))
cou(s)

Enter the string : python
word count :  1
character count :  6

Find the no of occurrences of a word in a string

In [11]:
def occur(s):
  c =0
  a = str(input("Enter the word : "))
  w = s.split()
  for i in range(0,len(w)):
    if(a == w[i]):
      c = c+1
  return c
s = str(input("Enter the string : "))
print("The number of occurances is : ",occur(s))

Enter the string : chandana p p
Enter the word : p
The number of occurances is :  2