<a href="https://colab.research.google.com/github/chandanapatil/Application-of-Python-Programming-in-DA-and-ML/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [1]:
import operator
d={}
for i in range(int(input("Enter The Number Of Students: "))):
  n=input(f"Enter The Name Of Student-{i+1}: ")
  d[n]=int(input(f"Enter The Marks Of Student-{i+1}: "))
print(dict(sorted(d.items(), key=operator.itemgetter(1), reverse=True)))

Enter The Number Of Students: 2
Enter The Name Of Student-1: asha
Enter The Marks Of Student-1: 26
Enter The Name Of Student-2: chetana
Enter The Marks Of Student-2: 24
{'asha': 26, 'chetana': 24}

2.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [2]:
import operator
d={}
for i in range(int(input("Enter The Number Of Students: "))):
  n=input(f"Enter The Name Of Employee-{i+1}: ")
  d[n]=int(input(f"Enter The Salary Of Employee-{i+1}: "))
print(dict(sorted(d.items(), key=operator.itemgetter(0))))

Enter The Number Of Students: 2
Enter The Name Of Employee-1: chandana
Enter The Salary Of Employee-1: 25000
Enter The Name Of Employee-2: appu
Enter The Salary Of Employee-2: 35000
{'appu': 35000, 'chandana': 25000}

3.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and  sum, max, min and average of the salaries

In [3]:
import operator
d={}
for i in range(int(input("Enter The Number Of Students: "))):
  n=input(f"Enter The Name Of Employee-{i+1}: ")
  d[n]=int(input(f"Enter The Salary Of Employee-{i+1}: "))
print(dict(sorted(d.items(), key=operator.itemgetter(1))))
print(f"Sum: {sum(d.values())}\nMax: {max(d.values())}\nMin: {min(d.values())}\nAverage: {sum(d.values())/len(d)}")

Enter The Number Of Students: 3
Enter The Name Of Employee-1: asha
Enter The Salary Of Employee-1: 20000
Enter The Name Of Employee-2: akash
Enter The Salary Of Employee-2: 30000
Enter The Name Of Employee-3: sunil
Enter The Salary Of Employee-3: 25000
{'asha': 20000, 'sunil': 25000, 'akash': 30000}
Sum: 75000
Max: 30000
Min: 20000
Average: 25000.0

4.	Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [5]:
d={}
for i in range(int(input("Enter The Number Of Students: "))):
  n=input(f"Enter The Name Of Employee-{i+1}: ")
  d[n]=int(input(f"Enter The Salary Of Employee-{i+1}: "))
print(dict([(k,v) for k,v in d.items() if 2000<v<4000]))

Enter The Number Of Students: 2
Enter The Name Of Employee-1: nagu
Enter The Salary Of Employee-1: 3500
Enter The Name Of Employee-2: pavana
Enter The Salary Of Employee-2: 3000
{'nagu': 3500, 'pavana': 3000}

5.	Python program to convert a 3 digit number  into words

In [6]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'One hundred',200:'Two hundred',300:'three hundred',400:'four hundred',500:'five hundred',600:'six hundred',700:'seven hundred',800:'eight hundred',900:'nine hundred'}
num=int(input("Enter the integer between 100 to 999:"))
print(f"{d[num//100*100]} {d[((num//10)%10)*10]} {d[num%10]}")

Enter the integer between 100 to 999:368
three hundred sixty eight

Python Program to count the total number of charaters (except blank space) in a text file.

In [8]:
f=open("/content/sample_data/california_housing_test.csv","r")
t=f.read()
c=0
for i in t:
  if(i!=" " and i!='\n'):
    c+=1
print(c)

298140

Python Program to print all the numbers present in a text file with its total number of occurrence.

In [9]:
file_txt = open("/content/sample_data/anscombe.json","r")		
text = file_txt.read()	
w = []	
d = dict() 
for line in text: 
    line = line.strip() 	
    if(line.isdigit()):
           w.append(line)
for j in w:
      if j in d:
        d[j] = d[j] + 1
      else: 
            d[j] = 1 
for key in list(d.keys()): 
    print(key, ":", d[key])

1 : 36
0 : 54
8 : 35
4 : 23
6 : 18
9 : 13
5 : 16
3 : 10
7 : 23
2 : 11

Python Program to append the contents of one file to another file by getting the both file names through keyboard .

In [10]:
name1 = input("Enter file to be read from: ")
name2 = input("Enter file to be appended to: ")
fin = open(name1, "r")
data2 = fin.read()
fin.close()
fout = open(name2, "a")
fout.write(data2)
fout.close()

Enter file to be read from: /content/sample_data/mnist_test.csv
Enter file to be appended to: /content/sample_data/anscombe.json

Python Program to count the number of blank spaces in a text file.

In [15]:
file_txt = open("/prog1.txt","r")		
text = file_txt.read()			
charc = 0	
for i in text:				
	if(i == " "):
		 charc += 1
 
print ("total num of spaces: ",charc);

total num of spaces:  229

Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content  into another file and read it .

In [18]:
with open('/chandu.txt', 'r') as f:
  with open("/sample.txt", "w") as f1:
    for line in f:
        l=line.title()
        f1.write(l)
file2=open("/sample.txt",'r')
line=file2.readline()
while(line!=""):
    print(line)
    line=file2.readline()
file2.close()

Python Program